.log {
  width:530px;
  margin:130px auto;
 
  
}


.log .App1 {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;

  color: white;
}



.user2 input[type="submit"]{
background: #61dafb;
margin-top:48px;
margin: bottom 40px;
width: 130px;
height: 45px;




}


